<a href="https://colab.research.google.com/github/ARISE-NYU/diggs/blob/pedro-dev/data/eda_notebooks/2022_05_11_did_data_processing_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0. Import Data/Housekeeping

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import re

import pprint

# 1. Import Data
## 1.1 Read Data

In [3]:
# os.makedirs()

project_directory_path = "/content/gdrive/MyDrive/2022-spring_did_research/"
_data_path = os.path.join(project_directory_path, "data/did_Data_Template_2021.csv")
school_codes_path = os.path.join(project_directory_path, "data/ny_school_codes.csv")

In [4]:

#aride df
_df = pd.read_csv(_data_path)
_df_working = _df.copy()

#school codes path
school_codes_df = pd.read_csv(school_codes_path)

In [5]:
did_df = pd.read_csv(did_data_path)
did_df['Year'] = 2021
did_df['Year'].unique()

array([2021])

## 1.2 Filter to Informative Columns
### 1.2.a Raw Columns

In [6]:
_df_working = _df.copy()
_df_working.info(verbose = True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 63 columns):
 #   Column                                                                                                                                                                                                                            Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                            --------------  -----
 0   Unique Identifier                                                                                                                                                                                                                 1330 non-null   int64
 1   Year                                                                                                                                                                                                                              1330 non-null   int64
 2   Non-Degree Application SIS Decision                                                                                                                                                                                               768 non-null    object
 3   App Started Date                                                                                                                                                                                                                  1329 non-null   object
 4   App Submitted Date                                                                                                                                                                                                                768 non-null    object
 5   Race                                                                                                                                                                                                                              992 non-null    object
 6   Hispanic                                                                                                                                                                                                                          893 non-null    object
 7   Non-Degree Application Cultural Identity                                                                                                                                                                                          823 non-null    object
 8   Non-Degree Application Cultural Identity Other                                                                                                                                                                                    43 non-null     object
 9   Sex                                                                                                                                                                                                                               1170 non-null   object
 10  Gender Identity                                                                                                                                                                                                                   1190 non-null   object
 11  Gender Identity Description                                                                                                                                                                                                       5 non-null      object
 12  Non-Degree Application Family Income Range                                                                                                                                                                                        879 non-null    object
 13  Non-Degree Application Parent College Education                                                                                                                                                                                   886 non-null    object
 14  #Parents/Caregivers in Household                                                                                                                                                                                                  0 non-null      float64
 15  Family Attended NYU                                                                                                                                                                                                               0 non-null      float64
 16  Family Employed at NYU                                                                                                                                                                                                            0 non-null      float64
 17  Permanent City                                                                                                                                                                                                                    1174 non-null   object
 18  Permanent County                                                                                                                                                                                                                  1169 non-null   object
 19  Permanent Region                                                                                                                                                                                                                  1171 non-null   object
 20  Permanent Postal                                                                                                                                                                                                                  1172 non-null   object
 21  Permanent Country                                                                                                                                                                                                                 1174 non-null   object
 22  Emergency Contact Type 1                                                                                                                                                                                                          977 non-null    object
 23  Emergency Contact Type 2                                                                                                                                                                                                          296 non-null    object
 24  Non-Degree Application Current Grade Level                                                                                                                                                                                        1328 non-null   float64
 25  School 1 Institution Name                                                                                                                                                                                                         1176 non-null   object
 26  School 1 Code - CEEB or Key                                                                                                                                                                                                       1137 non-null   object
 27  School 1 GPA                                                                                                                                                                                                                      1052 non-null   float64
 28  Non-Degree Application GPA in Specified Subjects                                                                                                                                                                                  845 non-null    object
 29  Area of Interest #1                                                                                                                                                                                                               875 non-null    object
 30  Area of Interest #2                                                                                                                                                                                                               873 non-null    object
 31  Area of Interest #3                                                                                                                                                                                                               871 non-null    object
 32  NYU Program or Course Participation Selection                                                                                                                                                                                     87 non-null     object
 33  Non-Degree Application Prior NYU Application                                                                                                                                                                                      886 non-null    float64
 34  Non-NYU Stem Participation                                                                                                                                                                                                        376 non-null    object
 35  All Missing Checklist Items (comma)                                                                                                                                                                                               634 non-null    object
 36  Non-Degree Application Essay Resp 1 - Why are you interested in participating in this program? What parts of the program are you most interested in? (250 characters or less)                                                     0 non-null      float64
 37  Non-Degree Application Essay Resp 2 - Describe the activities that you participate in -- clubs, after school programs, independent research, hobbies, etc -- to further your interests in STEM. (500 characters or less)          0 non-null      float64
 38  Non-Degree Application Essay Resp 3 - What areas of STEM do you struggle with or are unfamiliar with and why? 250 characters or less)                                                                                             0 non-null      float64
 39  Non-Degree Application Essay Resp 4 - How can this program help you? (250 characters or less)                                                                                                                                     0 non-null      float64
 40  Non-Degree Application Essay Resp 5 - Why did you choose this program over other programs (250 characters or less)                                                                                                                0 non-null      float64
 41  Non-Degree Application Essay Resp 6 - The Center for K12 is intended to lift up and give opportunities to communities underrepresented in STEM. How do you think you contribute to your STEM community? (250 characters or less)  0 non-null      float64
 42  Recommender Ratings - Intellectual and analytic ability                                                                                                                                                                           0 non-null      float64
 43  Recommender Ratings - Capability to develop and follow own ideas                                                                                                                                                                  0 non-null      float64
 44  Recommender Ratings - Ability to grasp scientific and mathematical concepts                                                                                                                                                       0 non-null      float64
 45  Recommender Ratings - Passion and iniative                                                                                                                                                                                        0 non-null      float64
 46  Recommender Ratings - Ability to collaborate and cooperate                                                                                                                                                                        0 non-null      float64
 47  Recommender Ratings - Reliability                                                                                                                                                                                                 0 non-null      float64
 48  Recommender Ratings - Applicant proficiency in written and verbal communication skills                                                                                                                                            0 non-null      float64
 49  Recommender Letter                                                                                                                                                                                                                0 non-null      float64
 50  Labs Toured                                                                                                                                                                                                                       0 non-null      float64
 51  Student Ranking                                                                                                                                                                                                                   0 non-null      float64
 52  One on One Interview Ranking - Student                                                                                                                                                                                            0 non-null      float64
 53  One on One Interview Ranking - Lab Ranking                                                                                                                                                                                        0 non-null      float64
 54  Matched Lab                                                                                                                                                                                                                       0 non-null      float64
 55  Degree of Match                                                                                                                                                                                                                   0 non-null      float64
 56  YOA                                                                                                                                                                                                                               0 non-null      float64
 57  Tech Needs Survey - Can you make/find a quiet space in your home where you can work uninterrupted for several hours of the day online?                                                                                            0 non-null      float64
 58  Tech Needs Survey - What type of technology do you have for your exclusive use (personal device you do not have to share) at home? (click all that apply)                                                                         0 non-null      float64
 59  Tech Needs Survey - Does your device allow you to download files or programs that require a lot of memory to open and use                                                                                                         0 non-null      float64
 60  Tech Needs Survey - How do you access internet at home? (Check all that apply)                                                                                                                                                    0 non-null      float64
 61  Tech Needs Survey - How would you describe your internet quality?                                                                                                                                                                 0 non-null      float64
 62  Attendance                                                                                                                                                                                                                        0 non-null      float64
dtypes: float64(33), int64(2), object(28)
memory usage: 654.7+ KB

### 1.2.b Filter Raw Columns

In [7]:
#columns with more than one value

informative_columns = []
for column in _df_working.columns:
    if (len(_df_working[column].unique()) >1): #& (len(_df_working[column].unique()) <25):
        informative_columns.append(column)

_df_informative = _df_working[informative_columns]
_df_informative['Non-Degree Application Current Grade Level'] = _df_informative['Non-Degree Application Current Grade Level'].astype('category')        
_df_informative['Non-Degree Application Prior NYU Application'] = _df_informative['Non-Degree Application Prior NYU Application'].astype('category')

_df_informative
_df_informative.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 32 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Unique Identifier                                 1330 non-null   int64
 1   Non-Degree Application SIS Decision               768 non-null    object
 2   App Started Date                                  1329 non-null   object
 3   App Submitted Date                                768 non-null    object
 4   Race                                              992 non-null    object
 5   Hispanic                                          893 non-null    object
 6   Non-Degree Application Cultural Identity          823 non-null    object
 7   Non-Degree Application Cultural Identity Other    43 non-null     object
 8   Sex                                               1170 non-null   object
 9   Gender Identity                                   1190 non-null   object
 10  Gender Identity Description                       5 non-null      object
 11  Non-Degree Application Family Income Range        879 non-null    object
 12  Non-Degree Application Parent College Education   886 non-null    object
 13  Permanent City                                    1174 non-null   object
 14  Permanent County                                  1169 non-null   object
 15  Permanent Region                                  1171 non-null   object
 16  Permanent Postal                                  1172 non-null   object
 17  Permanent Country                                 1174 non-null   object
 18  Emergency Contact Type 1                          977 non-null    object
 19  Emergency Contact Type 2                          296 non-null    object
 20  Non-Degree Application Current Grade Level        1328 non-null   category
 21  School 1 Institution Name                         1176 non-null   object
 22  School 1 Code - CEEB or Key                       1137 non-null   object
 23  School 1 GPA                                      1052 non-null   float64
 24  Non-Degree Application GPA in Specified Subjects  845 non-null    object
 25  Area of Interest #1                               875 non-null    object
 26  Area of Interest #2                               873 non-null    object
 27  Area of Interest #3                               871 non-null    object
 28  NYU Program or Course Participation Selection     87 non-null     object
 29  Non-Degree Application Prior NYU Application      886 non-null    category
 30  Non-NYU Stem Participation                        376 non-null    object
 31  All Missing Checklist Items (comma)               634 non-null    object
dtypes: category(2), float64(1), int64(1), object(28)
memory usage: 314.7+ KB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

# 2. Feature Preprocessing

## 2.1 'Non-Degree Application SIS Decision'

- Map 'nan' to "Incomplete"
- Create new "decision" column

In [8]:
def standardize_row(row):
  if isinstance(row,str):
    row = row.replace(' ','_').lower()
    row = re.sub('[^A-Za-z0-9_]+', '', row)
    return row
  else:
    return row

In [9]:
_df_informative_working = _df_informative.copy()


_df_informative_working['std_decision'] = _df_informative_working['Non-Degree Application SIS Decision']
_df_informative_working['std_decision'] = _df_informative_working['std_decision'].fillna('no_decision')
_df_informative_working['std_decision'] = _df_informative_working['std_decision'].apply(lambda row: standardize_row(row))

_df_informative = _df_informative_working.copy()

In [10]:
_df_informative_working['std_decision'].value_counts()

deny                        651
no_decision                 562
matriculated                 63
withdrawn                    53
withdrawn_after_decision      1
Name: std_decision, dtype: int64

In [11]:
#plot pie
feature = 'std_decision'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.close()

## 2.2 'App Started Date'/'App Submitted Date'

- Change To Date-Time In Place

In [12]:
# _df_informative['App Started Date'].info()#.value_counts(dropna=False)
_df_informative_working = _df_informative.copy()
_df_informative_working['std_app_start_date'] = _df_informative_working['App Started Date'].astype('datetime64[ns]')
_df_informative_working['std_app_submitted_date'] = _df_informative_working['App Submitted Date'].astype('datetime64[ns]')

In [13]:
def calc_days_before_deadline(deadline, date):
  try:
    days_before = -(date - deadline).days
  except:
      days_before = float('nan')
  return days_before

dead_line = pd.to_datetime('2021/03/01',format='%Y/%m/%d')

_df_informative_working['std_app_start_days_before_deadline'] = _df_informative_working['std_app_start_date']
_df_informative_working['std_app_submitted_days_before_deadline'] = _df_informative_working['std_app_submitted_date']

_df_informative_working['std_app_start_days_before_deadline'] = _df_informative_working['std_app_start_days_before_deadline'].apply(lambda row: calc_days_before_deadline(dead_line,row))
_df_informative_working['std_app_submitted_days_before_deadline'] = _df_informative_working['std_app_submitted_days_before_deadline'].apply(lambda row: calc_days_before_deadline(dead_line,row))

_df_informative_working['oh_app_start_days_before_deadline_nan'] = _df_informative_working['std_app_start_days_before_deadline'].isnull()*1
_df_informative_working['oh_app_submitted_days_before_deadline_nan'] = _df_informative_working['std_app_submitted_days_before_deadline'].isnull()*1

_df_informative_working['std_imputed_app_start_days_before_deadline'] = _df_informative_working['std_app_start_days_before_deadline'].fillna(value=_df_informative_working.std_app_start_days_before_deadline.mean(), inplace=False)
_df_informative_working['std_imputed_app_submitted_days_before_deadline'] = _df_informative_working['std_app_submitted_days_before_deadline'].fillna(value=_df_informative_working.std_app_submitted_days_before_deadline.mean(), inplace=False)

_df_informative = _df_informative_working.copy()

In [14]:
#plot pie
feature = 'std_app_start_days_before_deadline'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.close() 
plt.hist(_df_informative[feature])#.value_counts(dropna=False).sort_index().index.astype(str),_df_informative[feature].value_counts(dropna=False).sort_index())
plt.title(feature)
plt.close()#plt.close()

In [15]:
#plot pie
feature = 'std_app_submitted_days_before_deadline'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.close() 

plt.hist(_df_informative[feature])#.value_counts(dropna=False).sort_index().index.astype(str),_df_informative[feature].value_counts(dropna=False).sort_index())
plt.title(feature)
plt.close()#plt.close()

## 2.2 'Race'

- standardard race in "race_std" by choosing 6 racial categories:
  - White
  - Black or African American
  - American Indian or Alsak Native
  - Asian
  - Two or More, Other
  - Nan --> No Response

In [16]:
#plot pie
feature = 'Race'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.close()

In [17]:
_df_informative[feature].value_counts(dropna=False)

Asian                                                                 536
NaN                                                                   338
White                                                                 209
Black or African American                                             169
Asian, White                                                           32
Black or African American, White                                       12
American Indian or Alaska Native                                       12
Asian, Black or African American                                        7
American Indian or Alaska Native, White                                 4
American Indian or Alaska Native, Black or African American             2
Asian, Native Hawaiian or Other Pacific                                 2
American Indian or Alaska Native, Asian                                 2
Native Hawaiian or Other Pacific                                        2
Black or African American, Native Hawaiian or Other Pacific             1
Asian, Black or African American, White                                 1
Black or African American, Native Hawaiian or Other Pacific, White      1
Name: Race, dtype: int64

In [18]:
_df_informative_working = _df_informative.copy()

_df_informative_working['std_race'] = _df_informative_working['Race']


_df_informative_working.loc[~_df_informative_working['std_race'].isin([
                                    'White',
                                    'Black or African American',
                                    'American Indian or Alaska Native',
                                    'Asian',
                                    float('nan')]),'std_race'] = 'Two or More'
_df_informative_working['std_race'] = _df_informative_working['std_race'].apply(lambda row: standardize_row(row))
_df_informative = _df_informative_working.copy()

In [19]:
#plot pie
feature = 'std_race'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.close()

## 2.3 'Hispanic'

- No change

In [20]:
_df_informative_working = _df_informative.copy()

_df_informative_working['std_hispanic'] = _df_informative_working['Hispanic']
_df_informative_working['std_hispanic'] = _df_informative_working['std_hispanic'].apply(lambda row: standardize_row(row))
_df_informative = _df_informative_working.copy()

In [21]:
#plot pie
feature = 'std_hispanic'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.close()

## 2.4 'Cultural Identity'
- Find all unique "Cultural Inditiy Categories seperated by commas
- One hot encode each catagory in its own unique column

In [22]:
#define list of cultural identity catagories
_df_informative_working = _df_informative.copy()
cultural_id_other_list = list(_df_informative_working['Non-Degree Application Cultural Identity Other'].value_counts(dropna=False).index)
cultural_id_list = list(_df_informative_working['Non-Degree Application Cultural Identity'].value_counts(dropna=False).index)
cultural_id_list
cultural_id_split_list = []
for i in cultural_id_list:
  if isinstance(i, str):
    split = i.split(',')
    for category in split:
      cultural_id_split_list.append(category.strip())
  else:
    cultural_id_split_list.append(i)
cultural_id_split_list = list(set(cultural_id_split_list))

In [23]:
oh_culture_id_list = []
for culture in cultural_id_split_list:
  if isinstance(culture, str):
    culture = "oh_cultural_id_" + culture.lower().replace(' ', '_')
  else:
    culture = 'oh_cultural_id_nan'
  oh_culture_id_list.append(culture)
oh_culture_id_list

['oh_cultural_id_nan',
 'oh_cultural_id_central_american_origin',
 'oh_cultural_id_afro-caribbean_origin',
 'oh_cultural_id_pacific_island_origin',
 'oh_cultural_id_indian_subcontinent_origin',
 'oh_cultural_id_prefer_not_to_say',
 'oh_cultural_id_middle_eastern_origin',
 'oh_cultural_id_hawiian_origin',
 'oh_cultural_id_cuban_origin',
 'oh_cultural_id_european_origin',
 'oh_cultural_id_south_asian',
 'oh_cultural_id_african_origin',
 'oh_cultural_id_north_american_(native_american)_origin',
 'oh_cultural_id_puerto_rican_origin',
 'oh_cultural_id_mexican_origin',
 'oh_cultural_id_southeast_asian_origin',
 'oh_cultural_id_other',
 'oh_cultural_id_south_american_origin',
 'oh_cultural_id_north_african_origin',
 'oh_cultural_id_east_asian_origin']

In [24]:
# definite by row functions
def split_cultural_id(string):
  split_list = []
  if isinstance(string, str):
    split = string.split(',')
    for category in split:
      split_list.append(category.strip())
  else:
    split_list.append(string)
  return split_list

def cultural_od_isin(culture, culture_list):
  if isinstance(culture_list[0], str):
    if culture in (culture_list):
      return 1
    else:
      return 0
  else:
    return culture_list[0]

In [25]:
_df_informative_cultrual_id = _df_informative.copy()
_df_informative_cultrual_id['std_cultural_id'] = _df_informative_cultrual_id['Non-Degree Application Cultural Identity'].apply(split_cultural_id)
_df_informative_cultrual_id['std_cultural_id']

for culture in cultural_id_split_list:
  if isinstance(culture, str):
    feature = "oh_cultural_id_" + culture.lower().replace(' ', '_')
  else:
    feature = 'oh_cultural_id_nan'
  _df_informative_cultrual_id[feature] = _df_informative_cultrual_id['std_cultural_id']
  _df_informative_cultrual_id[feature] = _df_informative_cultrual_id[feature].apply(lambda row: cultural_od_isin(culture, row))
  if feature != 'oh_cultural_id_nan':
    _df_informative_cultrual_id[feature] = _df_informative_cultrual_id[feature].fillna(0)


_df_informative_cultrual_id.oh_cultural_id_nan = _df_informative_cultrual_id.oh_cultural_id_nan.fillna(1)
_df_informative = _df_informative_cultrual_id.copy()

In [26]:
#plot pie
feature = 'Non-Degree Application Cultural Identity'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.close()

In [27]:
#plot pie
for culture in cultural_id_split_list:
  if isinstance(culture, str):
    culture = "oh_cultural_id_" + culture.lower().replace(' ', '_')
  else:
    culture = 'oh_cultural_id_nan'
  feature = culture
  plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
  plt.title(feature)
  plt.close()#plt.close()

## 2.5 'Culural Identity Other'
- Going to keep as is for now
- Basically Treat it as a Free Response
- Clear possible additional catagories are Jewish, Central Asian, and African American

In [28]:
#define list of cultural identi catagories
_df_informative_working = _df_informative.copy()
cultural_id_other_list = list(_df_informative_working['Non-Degree Application Cultural Identity Other'].value_counts(dropna=False).index)
cultural_id_other_split_list = []
for i in cultural_id_other_list:
  if isinstance(i, str):
    split = i.split(',')
    for category in split:
      cultural_id_other_split_list.append(category.strip())
  else:
    cultural_id_other_split_list.append(i)
cultural_id_other_split_list = list(set(cultural_id_other_split_list))
print('Cultural Id Other Catagories')
cultural_id_other_split_list

Cultural Id Other Catagories

[nan,
 'Russian',
 'Asian American',
 'Eurasian',
 'Jewish',
 'South American Origin & Central American Origin',
 'Carribean descent',
 'Sephardi and Anatolian',
 'My family comes from Uzbekistan',
 '& Dominican',
 'Caucasian',
 'West Indian',
 'Mix of more than one Eastern European',
 'African-American',
 'Central Asian Origin (Bukharian)',
 'Domincan Ecuadorian Origin',
 'Central Asian (Uzbek)',
 'central asian',
 'Irish',
 'Uzbek',
 'South Asian/Bangladesh',
 'East Indian',
 'Bolivian Origin',
 'French',
 'Peruvian Origin',
 'Southern African American',
 'Central Asian',
 'black Hispanic',
 'American Indian',
 'Eastern European/ Asia (Russian)',
 'which is in Central Asia.  Our heritage',
 'Korean and America (Britain)',
 'Central Asian Origin',
 'Haitian',
 'Iranian/Turkic',
 'our culture and language are very unique and do not fit any category above',
 'Chinese-White',
 'Bi-racial (White and First Nations)',
 'Russian Mongolian',
 'African American',
 'afro-latina',
 'Indo-Caribbean',
 'Afghan',
 'Northeast Asian']

# 2.6 Gender Identity

* No Change for now

In [29]:
feature = 'Sex'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show()

In [30]:
_df_informative_working = _df_informative.copy()

_df_informative_working['std_sex'] = _df_informative_working['Sex']
_df_informative_working['std_sex'] = _df_informative_working['std_sex'].apply(lambda row: standardize_row(row))
_df_informative = _df_informative_working.copy()

In [31]:
feature = 'std_sex'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show()

In [32]:
feature = 'Gender Identity'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show()

In [33]:
_df_informative_working = _df_informative.copy()

_df_informative_working['std_gender_identity'] = _df_informative_working['Gender Identity']
_df_informative_working['std_gender_identity'] = _df_informative_working['std_gender_identity'].apply(lambda row: standardize_row(row))
# _df_informative_working['std_gender_identity'].loc[_df_informative_working['std_gender_identity'].isin(['prefer_to_selfdescribe','prefer_not_to_say','nonbinary']),'std_gender_identity']
# _df_informative_working['std_gender_identity'].value_counts()
# _df_informative = _df_informative_working.copy()
_df_informative_working['std_gender_identity'].loc[_df_informative_working['std_gender_identity'].isin(['prefer_to_selfdescribe','prefer_not_to_say','nonbinary'])] ='other'
_df_informative = _df_informative_working.copy()

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [34]:
feature = 'std_gender_identity'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show()

In [35]:
feature = 'Gender Identity Description'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show()

## 2.7 Geographical Demographics
  - Left the same
  * potentially worth hot encoding after

In [36]:
# _df_informative['Permanent County'].value_counts(dropna=False)
feature = 'Permanent County'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show()

In [37]:
feature = 'Permanent Region'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show()

In [38]:
feature = 'Permanent Postal'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show()

In [39]:
feature = 'Permanent Country'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show()

## 2.8 School Id
- Map codes to names using school code data set.

In [40]:
school_codes_dict=dict(zip(school_codes_df['HIGH SCHOOL CODE'].astype(str), school_codes_df['HIGH SCHOOL']))
def school_codes_map(code, school_codes_dict):
  if code in school_codes_dict:
    return school_codes_dict[code]
  else:
    return float('nan')

In [41]:
# list(_df_informative['School 1 Institution Name'].value_counts(dropna=False).sort_index().index)
feature = 'School 1 Institution Name'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show()

In [42]:
# _df_informative['School 1 Code - CEEB or Key'].value_counts(dropna=False)
# list(_df_informative['School 1 Institution Name'].value_counts(dropna=False).sort_index().index)
feature = 'School 1 Code - CEEB or Key'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show()

In [43]:
_df_informative_school = _df_informative.copy()
# _df_informative_school['school_std'] = _df_informative_school['School 1 Code - CEEB or Key']
_df_informative_school['std_school'] = _df_informative_school['School 1 Code - CEEB or Key'].apply(lambda row: school_codes_map(row, school_codes_dict))

_df_informative_school['std_school'] = _df_informative_school['std_school'].apply(lambda row: standardize_row(row))

_df_informative = _df_informative_school

In [44]:
feature = 'std_school'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show()

# 2.9 Parent Income

In [45]:
_df_informative_working = _df_informative.copy()

_df_informative_working['std_parent_education'] = _df_informative_working['Non-Degree Application Parent College Education']
_df_informative_working['std_parent_education'] = _df_informative_working['std_parent_education'].apply(lambda row: standardize_row(row))
# _df_informative_working['std_gender_identity'].loc[_df_informative_working['std_gender_identity'].isin(['prefer_to_selfdescribe','prefer_not_to_say','nonbinary']),'std_gender_identity']
# _df_informative_working['std_gender_identity'].value_counts()
# _df_informative = _df_informative_working.copy()
_df_informative_working['std_parent_education'].loc[_df_informative_working['std_parent_education'].isin(['more_than_two','two'])] ='two_or_more'
_df_informative = _df_informative_working.copy()
# _df_informative_working['std_parent_education'].value_counts()

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

## 2.10 GPA
*   Convert anything above 10 to 4 point scale by subtracting 60, dividing by 10 and setting a floor at 0
* Subject specifci GPA is too messy to standardize
* Consider looking and different GPA buckets
* Consider parsing the Subject Specific data

In [46]:
feature = 'School 1 GPA'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show() 

plt.hist(_df_informative[feature])
plt.title(feature)
plt.close()#plt.show()

In [47]:

def gpa_scaling(gpa):
  if isinstance(gpa, (int,float)):
    if (gpa >4) & (gpa<=10):
      return 4
    elif gpa >10:
      if gpa > 93:
        return 4.
      elif gpa > 90:
        return 3.7
      elif gpa >87:
        return 3.3
      elif gpa >83:
        return 3.
      elif gpa >80:
        return 2.7
      elif gpa > 77:
        return 2.3
      elif gpa > 73:
        return 2.
      elif gpa >70:
        return 1.7
      elif gpa >67:
        return 1.3
      elif gpa > 63:
        return 1.
      elif gpa > 60:
        return .7
      else:
        return 0.0
      # return(min(max((gpa - 60)/ 10,0),4))
    else:
      return gpa
  else:
    return pd.NA

In [48]:
_df_informative_gpa = _df_informative.copy()
# _df_informative_school['school_std'] = _df_informative_school['School 1 Code - CEEB or Key']
_df_informative_gpa['std_gpa'] = _df_informative_gpa['School 1 GPA'].apply(lambda row: gpa_scaling(row))

_df_informative = _df_informative_gpa.copy()

In [49]:
_df_informative_working = _df_informative.copy()
_df_informative_working['oh_gpa_nan'] = _df_informative_working['std_gpa'].isna()*1
_df_informative_working['std_imputed_gpa'] = _df_informative_working['std_gpa'].fillna(value=_df_informative_working.std_gpa.mean(), inplace=False)
_df_informative = _df_informative_working.copy()

In [50]:
feature = 'std_imputed_gpa'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show() 

plt.hist(_df_informative[feature])
plt.title(feature)
plt.close()#plt.show()

In [51]:
def extract_floats(s):
  if isinstance(s,str):
    ext_float_list = re.findall('\d*\.?\d+',s)
    scaled_float_list = []
    if len(ext_float_list) == 0:
      return float('nan')
    for extracted_number in ext_float_list:
      gpa = float(extracted_number)
      if (gpa >4) & (gpa<=10):
        scaled_float_list.append(4)
        return 4
      elif gpa >10:
        if gpa > 93:
          scaled_float_list.append(4.0)
        elif gpa > 90:
          scaled_float_list.append(3.7)
        elif gpa >87:
          scaled_float_list.append(3.3)
        elif gpa >83:
          scaled_float_list.append(3.0)
        elif gpa >80:
          scaled_float_list.append(2.7)
        elif gpa > 77:
          scaled_float_list.append(2.3)
        elif gpa > 73:
          scaled_float_list.append(2.0)
        elif gpa >70:
          scaled_float_list.append(1.7)
        elif gpa >67:
          scaled_float_list.append(1.3)
        elif gpa > 63:
          scaled_float_list.append(1.0)
        elif gpa > 60:
          scaled_float_list.append(0.7)
        else:
          scaled_float_list.append(0.0)
      else:
        return gpa
    return sum(scaled_float_list)/len(scaled_float_list)
  return s

In [52]:
import re 

feature = 'Non-Degree Application GPA in Specified Subjects'
_df_informative_gpa_specified = _df_informative.copy()
# _df_informative_school['school_std'] = _df_informative_school['School 1 Code - CEEB or Key']
_df_informative_gpa_specified['std_gpa_specified'] = _df_informative_gpa_specified[feature].apply(lambda row: extract_floats(row))
_df_informative = _df_informative_gpa_specified.copy()

In [53]:
_df_informative_working = _df_informative.copy()
_df_informative_working['oh_std_gpa_specified_nan'] = _df_informative_working['std_gpa_specified'].isna()*1
_df_informative_working['std_imputed_gpa_specified'] = _df_informative_working['std_gpa_specified'].fillna(value=_df_informative_working.std_gpa_specified.mean(), inplace=False)
_df_informative = _df_informative_working.copy()

In [54]:
feature = 'std_imputed_gpa_specified'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show() 

plt.hist(_df_informative[feature])
plt.title(feature)
plt.close()#plt.show()

## 2.11 Areas of Interest

* Very Clean Data

In [55]:
feature = 'Area of Interest #1'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show() 

feature = 'Area of Interest #2'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show() 

feature = 'Area of Interest #3'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show()

## 2.12 NYU Other

* Course participation - low engagment not sure what it is.  Leave as i
* Prior NYU application - Assume it means if you've applied to did before.  Well documents. Leave as it
* Non-NYU stem participation.  Messy No way to standardize.  Good feature to suggest data collection techniques.
*binarize participation

In [56]:
feature = 'NYU Program or Course Participation Selection'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show()

In [57]:
feature = 'Non-Degree Application Prior NYU Application'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show() 
print(_df_informative[feature].value_counts(dropna=False).index)

CategoricalIndex([0.0, nan, 1.0], categories=[0.0, 1.0], ordered=False, dtype='category')

In [58]:
feature = 'Non-NYU Stem Participation'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = [i[:20] if isinstance(i,str) else i for i in list(_df_informative[feature].value_counts(dropna=False).index)])
plt.title(feature)
plt.close()#plt.show()

In [59]:
feature = 'Non-NYU Stem Participation'

_df_informative_non_nyu_stem = _df_informative.copy()
# _df_informative_school['school_std'] = _df_informative_school['School 1 Code - CEEB or Key']
_df_informative_non_nyu_stem['oh_non_nyu_stem'] = _df_informative_non_nyu_stem[feature].notna().astype(float)

_df_informative = _df_informative_non_nyu_stem.copy()

In [60]:
feature = 'oh_non_nyu_stem'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show()

## 2.13 Missing items
* Missing reference, application, and transcript where one hot encoded in their own category

In [61]:
feature = 'All Missing Checklist Items (comma)'
_df_informative[feature].value_counts(dropna=False)

NaN                                                                                                                                    696
Application                                                                                                                            342
Application, Transcript (Official or Unofficial): Stuyvesant High School                                                                14
Application, Transcript (Official or Unofficial): Brooklyn Technical High School                                                        10
Application, Transcript (Official or Unofficial): Bronx High School of Science                                                           8
                                                                                                                                      ...
Reference: Stephanie Lim, Convent of the Sacred Heart                                                                                    1
Reference: Arthur Lashiker, Department of Education                                                                                      1
Application, Reference: Ross Pinkerton, Hunter College High school, Transcript (Official or Unofficial): Hunter College High School      1
Reference: Danielle Ragavanis, Thomas A Edison CTE HS, Reference: Elvyn Perez, CTE                                                       1
Application, Transcript (Official or Unofficial): Dalton School                                                                          1
Name: All Missing Checklist Items (comma), Length: 212, dtype: int64

In [62]:
feature = 'All Missing Checklist Items (comma)'
plt.pie(_df_informative[feature].value_counts(dropna=False), labels = _df_informative[feature].value_counts(dropna=False).index)
plt.title(feature)
plt.close()#plt.show()

In [63]:
row_list = []
for row in _df_informative['All Missing Checklist Items (comma)']:
  if isinstance(row,str):
    test_split = row.split(',')
    missing_item_list = []
    for missing_item in test_split:
      missing_item = missing_item.strip()
      colon_loc = missing_item.find(':')
      if colon_loc > 0: 
        missing_item_list.append(missing_item[:colon_loc])
      else:
        missing_item_list.append(missing_item)
    row_list.append(missing_item_list)
 
  else:
     row_list.append(row)




_df_informative_missing = _df_informative.copy()
_df_informative_missing['std_missing_list'] = pd.Series(row_list)
_df_informative = _df_informative_missing.copy()

In [64]:
def missing_od_isin(missing_item, missing_item_list):
  if isinstance(missing_item_list, list):
    if missing_item in (missing_item_list):
      return 1
    else:
      return 0
  else:
    return 0

test_list = _df_informative.std_missing_list[2]
test_item = 'References'
missing_od_isin(test_item, test_list)

missing_items_oi = ['Application', 'Reference',  'Transcript (Official or Unofficial)']

for missin_item_oi in missing_items_oi:
  _df_informative_missing_oh = _df_informative.copy()
  
  _df_informative_missing_oh['oh_missing_{}'.format(missin_item_oi.lower().replace(' ','_'))] = _df_informative_missing_oh.std_missing_list.apply(lambda row: missing_od_isin(missin_item_oi,row))
  _df_informative = _df_informative_missing_oh.copy()

In [65]:
#plot pie
for missin_item_oi in missing_items_oi:
  feature = missin_item_oi
  plt.pie(_df_informative['oh_missing_{}'.format(missin_item_oi.lower().replace(' ','_'))].value_counts(dropna=False), labels = _df_informative['oh_missing_{}'.format(missin_item_oi.lower().replace(' ','_'))].value_counts(dropna=False).index)
  plt.title('oh_missing_{}'.format(missin_item_oi.lower().replace(' ','_')))
  plt.close()#plt.show()

# 3. Hot Encoding Standardized Categorical Data

In [66]:
_df_informative.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 79 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Unique Identifier                                       1330 non-null   int64
 1   Non-Degree Application SIS Decision                     768 non-null    object
 2   App Started Date                                        1329 non-null   object
 3   App Submitted Date                                      768 non-null    object
 4   Race                                                    992 non-null    object
 5   Hispanic                                                893 non-null    object
 6   Non-Degree Application Cultural Identity                823 non-null    object
 7   Non-Degree Application Cultural Identity Other          43 non-null     object
 8   Sex                                                     1170 non-null   object
 9   Gender Identity                                         1190 non-null   object
 10  Gender Identity Description                             5 non-null      object
 11  Non-Degree Application Family Income Range              879 non-null    object
 12  Non-Degree Application Parent College Education         886 non-null    object
 13  Permanent City                                          1174 non-null   object
 14  Permanent County                                        1169 non-null   object
 15  Permanent Region                                        1171 non-null   object
 16  Permanent Postal                                        1172 non-null   object
 17  Permanent Country                                       1174 non-null   object
 18  Emergency Contact Type 1                                977 non-null    object
 19  Emergency Contact Type 2                                296 non-null    object
 20  Non-Degree Application Current Grade Level              1328 non-null   category
 21  School 1 Institution Name                               1176 non-null   object
 22  School 1 Code - CEEB or Key                             1137 non-null   object
 23  School 1 GPA                                            1052 non-null   float64
 24  Non-Degree Application GPA in Specified Subjects        845 non-null    object
 25  Area of Interest #1                                     875 non-null    object
 26  Area of Interest #2                                     873 non-null    object
 27  Area of Interest #3                                     871 non-null    object
 28  NYU Program or Course Participation Selection           87 non-null     object
 29  Non-Degree Application Prior NYU Application            886 non-null    category
 30  Non-NYU Stem Participation                              376 non-null    object
 31  All Missing Checklist Items (comma)                     634 non-null    object
 32  std_decision                                            1330 non-null   object
 33  std_app_start_date                                      1329 non-null   datetime64[ns]
 34  std_app_submitted_date                                  768 non-null    datetime64[ns]
 35  std_app_start_days_before_deadline                      1329 non-null   float64
 36  std_app_submitted_days_before_deadline                  768 non-null    float64
 37  oh_app_start_days_before_deadline_nan                   1330 non-null   int64
 38  oh_app_submitted_days_before_deadline_nan               1330 non-null   int64
 39  std_imputed_app_start_days_before_deadline              1330 non-null   float64
 40  std_imputed_app_submitted_days_before_deadline          1330 non-null   float64
 41  std_race                                                992 non-null    object
 42  std_hispanic                                            893 non-null    object
 43  std_cultural_id                                         1330 non-null   object
 44  oh_cultural_id_nan                                      1330 non-null   float64
 45  oh_cultural_id_central_american_origin                  1330 non-null   float64
 46  oh_cultural_id_afro-caribbean_origin                    1330 non-null   float64
 47  oh_cultural_id_pacific_island_origin                    1330 non-null   float64
 48  oh_cultural_id_indian_subcontinent_origin               1330 non-null   float64
 49  oh_cultural_id_prefer_not_to_say                        1330 non-null   float64
 50  oh_cultural_id_middle_eastern_origin                    1330 non-null   float64
 51  oh_cultural_id_hawiian_origin                           1330 non-null   float64
 52  oh_cultural_id_cuban_origin                             1330 non-null   float64
 53  oh_cultural_id_european_origin                          1330 non-null   float64
 54  oh_cultural_id_south_asian                              1330 non-null   float64
 55  oh_cultural_id_african_origin                           1330 non-null   float64
 56  oh_cultural_id_north_american_(native_american)_origin  1330 non-null   float64
 57  oh_cultural_id_puerto_rican_origin                      1330 non-null   float64
 58  oh_cultural_id_mexican_origin                           1330 non-null   float64
 59  oh_cultural_id_southeast_asian_origin                   1330 non-null   float64
 60  oh_cultural_id_other                                    1330 non-null   float64
 61  oh_cultural_id_south_american_origin                    1330 non-null   float64
 62  oh_cultural_id_north_african_origin                     1330 non-null   float64
 63  oh_cultural_id_east_asian_origin                        1330 non-null   float64
 64  std_sex                                                 1170 non-null   object
 65  std_gender_identity                                     1190 non-null   object
 66  std_school                                              1096 non-null   object
 67  std_parent_education                                    886 non-null    object
 68  std_gpa                                                 1052 non-null   float64
 69  oh_gpa_nan                                              1330 non-null   int64
 70  std_imputed_gpa                                         1330 non-null   float64
 71  std_gpa_specified                                       841 non-null    float64
 72  oh_std_gpa_specified_nan                                1330 non-null   int64
 73  std_imputed_gpa_specified                               1330 non-null   float64
 74  oh_non_nyu_stem                                         1330 non-null   float64
 75  std_missing_list                                        634 non-null    object
 76  oh_missing_application                                  1330 non-null   int64
 77  oh_missing_reference                                    1330 non-null   int64
 78  oh_missing_transcript_(official_or_unofficial)          1330 non-null   int64
dtypes: category(2), datetime64[ns](2), float64(30), int64(8), object(37)
memory usage: 803.0+ KB

In [67]:
from sklearn.preprocessing import OneHotEncoder

#copy df
df = _df_informative.copy()

oh_feature_list = ['std_race',
                   'Hispanic',
                   'Sex',
                   'Non-Degree Application Family Income Range',
                   'std_parent_education',
                   'std_school'
                   ]

oh_feature_name_dict = {'std_race':'oh_race',
                        'Hispanic':'oh_hispanic',                        
                        'Sex':'oh_sex',
                        'Non-Degree Application Family Income Range':'oh_income',
                        'std_parent_education':'oh_parent_education',
                        'std_school':'oh_school'
                        }

encoder = OneHotEncoder(handle_unknown='ignore')
encoded_array = encoder.fit_transform(df[oh_feature_list]).toarray()
encoded_cat_dict = dict(zip(oh_feature_list,encoder.categories_))


#create columns names
oh_col_names = []
for k,v in encoded_cat_dict.items():
  prefix = oh_feature_name_dict[k]
  for j in v:
    if isinstance(j,str):
      col_name = j.lower().replace(' ', '_')
      col_name = prefix + "_" + col_name
    else:
      col_name = prefix + '_nan'
    oh_col_names.append(col_name)

encoded_df = pd.DataFrame(encoded_array, columns= oh_col_names)

df_concat = pd.concat([df, encoded_df], axis=1)
_df_informative = df_concat.copy()

In [68]:
df = _df_informative.copy()

orig_col_names = ['Unique Identifier ',
 'Non-Degree Application SIS Decision',
 'App Started Date',
 'App Submitted Date',
 'Race',
 'Hispanic',
 'Non-Degree Application Cultural Identity',
 'Non-Degree Application Cultural Identity Other',
 'Sex',
 'Gender Identity',
 'Gender Identity Description',
 'Non-Degree Application Family Income Range',
 'Non-Degree Application Parent College Education',
 'Permanent City',
 'Permanent County',
 'Permanent Region',
 'Permanent Postal',
 'Permanent Country',
 'Emergency Contact Type 1',
 'Emergency Contact Type 2',
 'Non-Degree Application Current Grade Level',
 'School 1 Institution Name',
 'School 1 Code - CEEB or Key',
 'School 1 GPA',
 'Non-Degree Application GPA in Specified Subjects',
 'Area of Interest #1',
 'Area of Interest #2',
 'Area of Interest #3',
 'NYU Program or Course Participation Selection',
 'Non-Degree Application Prior NYU Application',
 'Non-NYU Stem Participation',
 'All Missing Checklist Items (comma)',]

mapper = {}
for n in df.columns:
  new_n = re.sub(' ', '_', n.strip())
  new_n = re.sub('[^A-Za-z0-9_]+', '', new_n).lower()
  if n in orig_col_names:
    mapper[str(n)] = f'orig_{new_n}'
df.rename(columns=mapper, inplace=True)

df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 306 columns):
 #    Column                                                  Non-Null Count  Dtype
---   ------                                                  --------------  -----
 0    orig_unique_identifier                                  1330 non-null   int64
 1    orig_nondegree_application_sis_decision                 768 non-null    object
 2    orig_app_started_date                                   1329 non-null   object
 3    orig_app_submitted_date                                 768 non-null    object
 4    orig_race                                               992 non-null    object
 5    orig_hispanic                                           893 non-null    object
 6    orig_nondegree_application_cultural_identity            823 non-null    object
 7    orig_nondegree_application_cultural_identity_other      43 non-null     object
 8    orig_sex                                                1170 non-null   object
 9    orig_gender_identity                                    1190 non-null   object
 10   orig_gender_identity_description                        5 non-null      object
 11   orig_nondegree_application_family_income_range          879 non-null    object
 12   orig_nondegree_application_parent_college_education     886 non-null    object
 13   orig_permanent_city                                     1174 non-null   object
 14   orig_permanent_county                                   1169 non-null   object
 15   orig_permanent_region                                   1171 non-null   object
 16   orig_permanent_postal                                   1172 non-null   object
 17   orig_permanent_country                                  1174 non-null   object
 18   orig_emergency_contact_type_1                           977 non-null    object
 19   orig_emergency_contact_type_2                           296 non-null    object
 20   orig_nondegree_application_current_grade_level          1328 non-null   category
 21   orig_school_1_institution_name                          1176 non-null   object
 22   orig_school_1_code__ceeb_or_key                         1137 non-null   object
 23   orig_school_1_gpa                                       1052 non-null   float64
 24   orig_nondegree_application_gpa_in_specified_subjects    845 non-null    object
 25   orig_area_of_interest_1                                 875 non-null    object
 26   orig_area_of_interest_2                                 873 non-null    object
 27   orig_area_of_interest_3                                 871 non-null    object
 28   orig_nyu_program_or_course_participation_selection      87 non-null     object
 29   orig_nondegree_application_prior_nyu_application        886 non-null    category
 30   orig_nonnyu_stem_participation                          376 non-null    object
 31   orig_all_missing_checklist_items_comma                  634 non-null    object
 32   std_decision                                            1330 non-null   object
 33   std_app_start_date                                      1329 non-null   datetime64[ns]
 34   std_app_submitted_date                                  768 non-null    datetime64[ns]
 35   std_app_start_days_before_deadline                      1329 non-null   float64
 36   std_app_submitted_days_before_deadline                  768 non-null    float64
 37   oh_app_start_days_before_deadline_nan                   1330 non-null   int64
 38   oh_app_submitted_days_before_deadline_nan               1330 non-null   int64
 39   std_imputed_app_start_days_before_deadline              1330 non-null   float64
 40   std_imputed_app_submitted_days_before_deadline          1330 non-null   float64
 41   std_race                                                992 non-null    object
 42   std_hispanic                                            893 non-null    object
 43   std_cultural_id                                         1330 non-null   object
 44   oh_cultural_id_nan                                      1330 non-null   float64
 45   oh_cultural_id_central_american_origin                  1330 non-null   float64
 46   oh_cultural_id_afro-caribbean_origin                    1330 non-null   float64
 47   oh_cultural_id_pacific_island_origin                    1330 non-null   float64
 48   oh_cultural_id_indian_subcontinent_origin               1330 non-null   float64
 49   oh_cultural_id_prefer_not_to_say                        1330 non-null   float64
 50   oh_cultural_id_middle_eastern_origin                    1330 non-null   float64
 51   oh_cultural_id_hawiian_origin                           1330 non-null   float64
 52   oh_cultural_id_cuban_origin                             1330 non-null   float64
 53   oh_cultural_id_european_origin                          1330 non-null   float64
 54   oh_cultural_id_south_asian                              1330 non-null   float64
 55   oh_cultural_id_african_origin                           1330 non-null   float64
 56   oh_cultural_id_north_american_(native_american)_origin  1330 non-null   float64
 57   oh_cultural_id_puerto_rican_origin                      1330 non-null   float64
 58   oh_cultural_id_mexican_origin                           1330 non-null   float64
 59   oh_cultural_id_southeast_asian_origin                   1330 non-null   float64
 60   oh_cultural_id_other                                    1330 non-null   float64
 61   oh_cultural_id_south_american_origin                    1330 non-null   float64
 62   oh_cultural_id_north_african_origin                     1330 non-null   float64
 63   oh_cultural_id_east_asian_origin                        1330 non-null   float64
 64   std_sex                                                 1170 non-null   object
 65   std_gender_identity                                     1190 non-null   object
 66   std_school                                              1096 non-null   object
 67   std_parent_education                                    886 non-null    object
 68   std_gpa                                                 1052 non-null   float64
 69   oh_gpa_nan                                              1330 non-null   int64
 70   std_imputed_gpa                                         1330 non-null   float64
 71   std_gpa_specified                                       841 non-null    float64
 72   oh_std_gpa_specified_nan                                1330 non-null   int64
 73   std_imputed_gpa_specified                               1330 non-null   float64
 74   oh_non_nyu_stem                                         1330 non-null   float64
 75   std_missing_list                                        634 non-null    object
 76   oh_missing_application                                  1330 non-null   int64
 77   oh_missing_reference                                    1330 non-null   int64
 78   oh_missing_transcript_(official_or_unofficial)          1330 non-null   int64
 79   oh_race_american_indian_or_alaska_native                1330 non-null   float64
 80   oh_race_asian                                           1330 non-null   float64
 81   oh_race_black_or_african_american                       1330 non-null   float64
 82   oh_race_two_or_more                                     1330 non-null   float64
 83   oh_race_white                                           1330 non-null   float64
 84   oh_race_nan                                             1330 non-null   float64
 85   oh_hispanic_no                                          1330 non-null   float64
 86   oh_hispanic_yes                                         1330 non-null   float64
 87   oh_hispanic_nan                                         1330 non-null   float64
 88   oh_sex_f                                                1330 non-null   float64
 89   oh_sex_m                                                1330 non-null   float64
 90   oh_sex_nan                                              1330 non-null   float64
 91   oh_income_$100,000_to_149,999                           1330 non-null   float64
 92   oh_income_$20,000_to_39,999                             1330 non-null   float64
 93   oh_income_$40,000_to_59,999                             1330 non-null   float64
 94   oh_income_$60,000_to_79,999                             1330 non-null   float64
 95   oh_income_$80,000_to_99,999                             1330 non-null   float64
 96   oh_income_i_don't_know                                  1330 non-null   float64
 97   oh_income_less_than_$19,999                             1330 non-null   float64
 98   oh_income_more_than_$150,000                            1330 non-null   float64
 99   oh_income_nan                                           1330 non-null   float64
 100  oh_parent_education_none                                1330 non-null   float64
 101  oh_parent_education_one                                 1330 non-null   float64
 102  oh_parent_education_two_or_more                         1330 non-null   float64
 103  oh_parent_education_nan                                 1330 non-null   float64
 104  oh_school_a_philip_randolph_campus_hs                   1330 non-null   float64
 105  oh_school_abraham_lincoln_high_school                   1330 non-null   float64
 106  oh_school_acad_conservation_and_environ                 1330 non-null   float64
 107  oh_school_academy_of_american_studies                   1330 non-null   float64
 108  oh_school_achievement_first_univ_prep                   1330 non-null   float64
 109  oh_school_al_noor_school                                1330 non-null   float64
 110  oh_school_all_city_leadership_secondary                 1330 non-null   float64
 111  oh_school_all_hallows_institute                         1330 non-null   float64
 112  oh_school_archbishop_molloy_high_school                 1330 non-null   float64
 113  oh_school_archimedes_acdmy_math_sci_tech                1330 non-null   float64
 114  oh_school_avenues_new_york                              1330 non-null   float64
 115  oh_school_aviation_high_school                          1330 non-null   float64
 116  oh_school_baccalaureate_sch_global_educ                 1330 non-null   float64
 117  oh_school_bard_high_school_early_college                1330 non-null   float64
 118  oh_school_bard_hsearly_college_queens                   1330 non-null   float64
 119  oh_school_baruch_college_campus_hs                      1330 non-null   float64
 120  oh_school_bayside_high_school                           1330 non-null   float64
 121  oh_school_beacon_high_school                            1330 non-null   float64
 122  oh_school_beacon_school                                 1330 non-null   float64
 123  oh_school_bedford_academy_high_school                   1330 non-null   float64
 124  oh_school_beekman_school                                1330 non-null   float64
 125  oh_school_benjamin_banneker_academy                     1330 non-null   float64
 126  oh_school_benjamin_cardozo_high_school                  1330 non-null   float64
 127  oh_school_birch_wathen_lenox_school                     1330 non-null   float64
 128  oh_school_bishop_loughlin_memorial_hs                   1330 non-null   float64
 129  oh_school_brearley_school                               1330 non-null   float64
 130  oh_school_bronx_academy_of_letters                      1330 non-null   float64
 131  oh_school_bronx_center_science__math                    1330 non-null   float64
 132  oh_school_bronx_collaborative_hs                        1330 non-null   float64
 133  oh_school_bronx_collegiate_academy                      1330 non-null   float64
 134  oh_school_bronx_health_sciences_high_sch                1330 non-null   float64
 135  oh_school_bronx_high_school_of_science                  1330 non-null   float64
 136  oh_school_bronx_international_hs                        1330 non-null   float64
 137  oh_school_bronx_lighthouse_charter_sch                  1330 non-null   float64
 138  oh_school_bronx_preparatory_charter_sch                 1330 non-null   float64
 139  oh_school_brooklyn_college_academy_hs                   1330 non-null   float64
 140  oh_school_brooklyn_friends_school                       1330 non-null   float64
 141  oh_school_brooklyn_hs_science_environmnt                1330 non-null   float64
 142  oh_school_brooklyn_latin_school                         1330 non-null   float64
 143  oh_school_brooklyn_school_math_research                 1330 non-null   float64
 144  oh_school_brooklyn_technical_high_school                1330 non-null   float64
 145  oh_school_browning_school                               1330 non-null   float64
 146  oh_school_cambria_heightsnew_literacies                 1330 non-null   float64
 147  oh_school_cardinal_hayes_high_school                    1330 non-null   float64
 148  oh_school_cardinal_spellman_high_school                 1330 non-null   float64
 149  oh_school_cathedral_high_school                         1330 non-null   float64
 150  oh_school_cathedral_preparatory_seminary                1330 non-null   float64
 151  oh_school_central_park_east                             1330 non-null   float64
 152  oh_school_chapin_school                                 1330 non-null   float64
 153  oh_school_chelsea_vocational_high_school                1330 non-null   float64
 154  oh_school_civic_leadership_academy                      1330 non-null   float64
 155  oh_school_clara_barton_h_s_health_prof                  1330 non-null   float64
 156  oh_school_cmty_health_ac_of_the_heights                 1330 non-null   float64
 157  oh_school_collegiate_inst_for_math__sci                 1330 non-null   float64
 158  oh_school_columbia_grammar_and_prep_sch                 1330 non-null   float64
 159  oh_school_columbia_secondary_school                     1330 non-null   float64
 160  oh_school_convent_of_the_sacred_heart                   1330 non-null   float64
 161  oh_school_cristo_rey_brooklyn_high_schl                 1330 non-null   float64
 162  oh_school_cristo_rey_hsnew_york                         1330 non-null   float64
 163  oh_school_csi_hs_international_studies                  1330 non-null   float64
 164  oh_school_curtis_high_school                            1330 non-null   float64
 165  oh_school_dalton_school                                 1330 non-null   float64
 166  oh_school_dominican_academy                             1330 non-null   float64
 167  oh_school_dr_izquierdo_health__sci_cs                   1330 non-null   float64
 168  oh_school_dr_kenneth_b_clark_academy                    1330 non-null   float64
 169  oh_school_dreamyard_preparatory_school                  1330 non-null   float64
 170  oh_school_east_fordham_colg_career_prep                 1330 non-null   float64
 171  oh_school_east_ny_hs_of_transit_tech                    1330 non-null   float64
 172  oh_school_east_side_community_hs                        1330 non-null   float64
 173  oh_school_edward_r_murrow_high_school                   1330 non-null   float64
 174  oh_school_eleanor_roosevelt_high_school                 1330 non-null   float64
 175  oh_school_evander_childs_high_school                    1330 non-null   float64
 176  oh_school_fdny_hs_for_firelife_safety                   1330 non-null   float64
 177  oh_school_fieldston_school                              1330 non-null   float64
 178  oh_school_fiorello_h_laguardia_hs_music                 1330 non-null   float64
 179  oh_school_food_and_finance_high_school                  1330 non-null   float64
 180  oh_school_fordham_preparatory_school                    1330 non-null   float64
 181  oh_school_forest_hills_high_school                      1330 non-null   float64
 182  oh_school_fort_hamilton_high_school                     1330 non-null   float64
 183  oh_school_francis_lewis_high_school                     1330 non-null   float64
 184  oh_school_frank_sinatra_sch_of_the_arts                 1330 non-null   float64
 185  oh_school_franklin_d_roosevelt_hs                       1330 non-null   float64
 186  oh_school_friends_seminary                              1330 non-null   float64
 187  oh_school_garden_school                                 1330 non-null   float64
 188  oh_school_grace_church_school                           1330 non-null   float64
 189  oh_school_heritage_school                               1330 non-null   float64
 190  oh_school_hicksville_high_school                        1330 non-null   float64
 191  oh_school_high_sch_for_arts_imag_and_inq                1330 non-null   float64
 192  oh_school_high_sch_health_prof_human_srv                1330 non-null   float64
 193  oh_school_high_sch_of_telecomm_arts_tech                1330 non-null   float64
 194  oh_school_high_school_american_studies                  1330 non-null   float64
 195  oh_school_high_school_envrnmntl_studies                 1330 non-null   float64
 196  oh_school_high_school_of_art_and_design                 1330 non-null   float64
 197  oh_school_hillcrest_high_school                         1330 non-null   float64
 198  oh_school_horace_mann_school                            1330 non-null   float64
 199  oh_school_hs_dual_languageasian_studies                 1330 non-null   float64
 200  oh_school_hs_for_arts__business                         1330 non-null   float64
 201  oh_school_hs_for_youthcmty_deverasmus                   1330 non-null   float64
 202  oh_school_hs_math_sci_eng_at_city_coll                  1330 non-null   float64
 203  oh_school_hunter_college_high_school                    1330 non-null   float64
 204  oh_school_institute_for_collaborative_ed                1330 non-null   float64
 205  oh_school_international_community_hs                    1330 non-null   float64
 206  oh_school_jamaica_gateway_to_the_science                1330 non-null   float64
 207  oh_school_james_madison_high_school                     1330 non-null   float64
 208  oh_school_john_bowne_high_school                        1330 non-null   float64
 209  oh_school_john_dewey_high_school                        1330 non-null   float64
 210  oh_school_kellenberg_memorial_high_schl                 1330 non-null   float64
 211  oh_school_kew_forest_school                             1330 non-null   float64
 212  oh_school_kingsborough_early_college_ss                 1330 non-null   float64
 213  oh_school_kingsbridge_international_hs                  1330 non-null   float64
 214  oh_school_lab_sch_fin__tech_mshs_223                    1330 non-null   float64
 215  oh_school_leadership_public_service_hs                  1330 non-null   float64
 216  oh_school_leman_manhattan_preparatory                   1330 non-null   float64
 217  oh_school_leon_m_goldstein_hs_sciences                  1330 non-null   float64
 218  oh_school_lycee_francais_de_new_york                    1330 non-null   float64
 219  oh_school_manhattan_bridges_high_school                 1330 non-null   float64
 220  oh_school_manhattan_ctr_for_sci_and_math                1330 non-null   float64
 221  oh_school_manhattan_hunter_science_hs                   1330 non-null   float64
 222  oh_school_manhattan_international_hs                    1330 non-null   float64
 223  oh_school_manhattan_village_academy                     1330 non-null   float64
 224  oh_school_martin_van_buren_high_school                  1330 non-null   float64
 225  oh_school_mary_louis_academy                            1330 non-null   float64
 226  oh_school_marymount_school_of_new_york                  1330 non-null   float64
 227  oh_school_maspeth_high_school                           1330 non-null   float64
 228  oh_school_masters_school                                1330 non-null   float64

In [69]:
import datetime

_output_path = os.path.join(project_directory_path, "data/{}_did_processed_data_2021.csv".format(datetime.date.today()))
_output_path
df.to_csv(_output_path,index=False)